input.form-control:disabled,
input.form-control[readonly] {
    background-color: #fff;
}

.price-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-star.checked {
    color: orange;
}

.cbutton , .children-details .form-control{
    width: min-content!important;
    flex: none!important;
    line-height: 1;
}

.form-control {
    cursor: pointer;
}

.adults, .children, .children-details {
    display:flex;
    align-items:center;
    margin-bottom: 10px;
    justify-content: space-between;
}

.adults .input-group, .children .input-group {
    justify-content:flex-end;
}

.children-details>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.brief-rooms {
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.ui-slider-range.ui-corner-all.ui-widget-header {
    background-color:green;
}

.search-panel {
    background-color:#495057;
    padding: 30px;
    border-radius: 1rem 1rem 0 0;
}

.search-results {
    border: 1px solid #495057;
    padding-top:10px;
}
.search-results>div.text-center {
    width:100%;
    margin:50px;
}

#modalReserve .card {
    margin-bottom: 5px;
}

#modalReserve .card-body {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    padding: 5px;
}
#modalReserve .card-title {
    padding: 5px;
}

#modalReserve .form fieldset {
    border: 1px solid gray;
    border-radius: 0.5rem;
    padding: 5px;
}
#modalReserve .form fieldset legend{
    width:auto;
}

.stage-2 form .card-body .row {
    margin-bottom: 5px;
}

#modalReserve .prvBtn {
    text-align: left;
}

#modalReserve .nxtBtn {
    text-align: right;
}

#modalInfo #info-form label {
    margin:auto;
}

#modalInfo #info-form button[type="submit"] {
    margin-top:10px;
}

#cancel, #submit {
    padding:.5rem 1rem
}

@media(max-width: 320px) {
    /* #modalInfoBtn {
        position: absolute;
        top: 10px;
        margin:auto;
    } */

    .search-panel #rooms {
        flex-basis: calc(100% - 30px);
        margin: auto 15px;
    }

    #carouselControls {
        width:100%!important;
    }
}